* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 100hv;
  width: 100%;
  background-image: url(https://t4.ftcdn.net/jpg/04/05/05/83/360_F_405058390_A6UbmkJWd8LxUmDdE0KO33AwHXvAgACg.jpg);
  background-position: center;
  background-size: cover;
  padding-right: 5%;
  padding-left: 3%;
}
