* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #10ddf8;
  display: grid;
  align-items: center;
}

form {
  background-color: #ffffff;
  padding: 80px;
  width: 60%;
  margin: 100px auto;
  text-align: center;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
}

#tempCalc label {
  font-size: 30px;
}

#temp {
  border-color: grey;
  border-radius: 20px;
  padding: 10px;
  height: 40px;
  width: 200px;
  font-size: 20px;
  margin-top: 20px;
  vertical-align: top;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}

#type {
  height: 40px;
  border-color: gray;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 15px;
  height: 40px;
  width: 200px;
  vertical-align: top;
  background-color: #ffffff;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}
label {
  font-family: cursive;
  font-weight: bold;
  color: #3e3663;
}
#btn {
  background-color: rgb(79, 228, 20);
  height: 50px;
  width: 90px;
  color: white;
  margin: 10px;
  border-radius: 10px;
}
#result {
  font-size: 15px;
  font-weight: 600;
}
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: -1;
}
body:before,
body:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

body:before {
  background-color: orange;
  right: -75px;
  bottom: -75px;
  @media screen and (min-width: 476px) {
    width: 220px;
    height: 220px;
    right: -110px;
    bottom: -110px;
  }
}

body:after {
  background-color: green;
  top: -75px;
  left: -75px;
}
@media screen and (min-width: 476px) {
  body {
    width: 220px;
    height: 220px;
    top: -110px;
    left: -110px;
  }
}
