* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ecf0f3;
  font-family: sans-serif;
  outline: none;
}
h1 {
  font-family: cursive;
  align-items: center;
  color: #34416d;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07f7ff;
  /* background-image: url(./assets/bg.jpg); */
  width: 100%;
}
.calculator {
  background-color: #ecf0f3;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  display: grid;
  grid-template-columns: repeat(4, 68px);
}
input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: #ecf0f3;
  box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 30px;
  color: rgb(70, 70, 70);
  font-size: 50px;
  text-align: end;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
}

button {
  height: 48px;
  width: 48px;
  background-color: #ecf0f3;
  box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border: none;
  border-radius: 50%;
  margin: 8px;
  font-size: 16px;
}
.equal {
  width: 115px;
  border-radius: 40px;
  background-color: #ecf0f3;
  box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}
.divide {
  background-color: #40f00b;
  box-shadow: inset -5px -5px 12px rgba(0, 0, 0, 0.25),
    5px 5px 12px rgba(255, 255, 255, 0.3);
}

.mult {
  background-color: #e413c8;
  box-shadow: inset -5px -5px 12px rgba(0, 0, 0, 0.25),
    5px 5px 12px rgba(255, 255, 255, 0.3);
}

.add {
  background-color: #1243e6;
  box-shadow: inset -5px -5px 12px rgba(0, 0, 0, 0.25),
    5px 5px 12px rgba(255, 255, 255, 0.3);
}

.sub {
  background-color: #d8e612;
  box-shadow: inset -5px -5px 12px rgba(0, 0, 0, 0.25),
    5px 5px 12px rgba(255, 255, 255, 0.3);
}

.red {
  background-color: #ff0707;
  box-shadow: inset -5px -5px 12px rgba(0, 0, 0, 0.25),
    5px 5px 12px rgba(255, 255, 255, 0.3);
}
.percent {
  background-color: #07f7ff;
  box-shadow: inset -5px -5px 12px rgba(0, 0, 0, 0.25),
    5px 5px 12px rgba(255, 255, 255, 0.3);
}

.equal {
  background-color: #6c9269;
  box-shadow: inset -5px -5px 12px rgba(0, 0, 0, 0.25),
    5px 5px 12px rgba(255, 255, 255, 0.3);
}

.divide,
.add,
.mult,
.sub,
.red,
.equal {
  font-size: 16px;
  font-weight: bold;
}
